<div class="card">
    <div class="title">Quick Transfer</div>
    <div class="users">
        <img class="circle" src="../../../assets/images/user7-img.jpg" alt="user-profile">
        <img class="circle" src="../../../assets/images/user2-img.jpg" alt="user-profile">
        <img class="circle" src="../../../assets/images/user3-img.jpg" alt="user-profile">
        <img class="circle" src="../../../assets/images/user4-img.jpg" alt="user-profile">
        <img class="circle" src="../../../assets/images/user5-img.jpg" alt="user-profile">
        <img class="circle" src="../../../assets/images/user6-img.jpg" alt="user-profile">
        <span class="right-arrow"></span>
    </div>
    <div class="card-number">Card Number</div>
    <div class="input-box">
        <input type="text" [value]="defaultvalue">
        <span class="visa-text">VISA</span>
    </div>
    <div class="buttons">
        <button class="money-button" type="button">Send Money</button>
        <button class="draft-button" type="button">Save as Draft</button>
    </div>
</div>