<div class="card">
    <div class="title"> My Cards</div>
    <div class="more-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#808080"
            stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-more-vertical">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="12" cy="5" r="1"></circle>
            <circle cx="12" cy="19" r="1"></circle>
        </svg>
    </div>
    <div class="card-img">
        <img src="../../../assets/images/credit-card.jpg" alt="" srcset="" width="200px">
    </div>
    <div class="card card-balance">
        <div class="balance-title">Your Balance</div>
        <div class="balance-details">
            <span class="balance">${{balance}}</span>
            <div class="balance-percent">
                <span class="profit-percent">&#8593; 9.14%</span>
                <span class="loss-percent">&#8595; 8.67%</span>
            </div>
        </div>
        <hr>
        <div class="currency-title">
            <span>Currency</span>
            <span>Status</span>
        </div>
        <div class="currency-values">
            <span>USD/US Dollar</span>
            <span>Active</span>
        </div>
    </div>
    <div class="button-container">
        <button type="button">+ Add New Card</button>
    </div>
</div>